.pageContainer {
  margin-left: 90px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  background-color: rgb(255, 255, 255);
}

.pageItem {
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 30px; 
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 0 0 15px 5px rgba(15, 4, 4, 0.05);
  border-radius: 5px;
}
.pageItem.hover{
  box-shadow: 0 0 10px 1px #3c169459;
}

img {
  padding-top: 10px;
  padding-bottom: 10px;
}